<div class="show">

<h1 class="mb-5"><%= @task.title %></h1>
<div class="alert alert-secondary align-bottom">
<p><%= @task.details %> </p>
</div>
<section class="complete-task-box pl-4">
  <input type="checkbox" disabled <%= "checked" if @task.completed %> >
  <p>The task is completed</p>
</section>

<%= link_to "Edit task", edit_path, class: "btn btn-primary mx-4"%>

<%= link_to "Back to list", tasks_path, class: "btn btn-primary mx-4" %>
</div>
